@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,input,textarea {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: black;
  background-color: white;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

.title{
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}
.contact{
  background-color: rgb(0, 0, 0);
}

.contact .title{
   font-size: 3.5rem;
   color: rgb(255, 255, 255);
   font-weight: 600;
   margin-top: 5rem;
   margin-bottom: 1.5rem;
   text-align: center;
 }

 .heart {
  color: red;
  font-size: 22px;
}

.creditSection {
  margin-top: 20px;
  text-align: center;
}

.creditSection p {
  margin: 0;
  color: white;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
  text-align: center;
}

 .mail{
   text-align: center;
   margin-top: -1rem;
 }

 .mailButton {
   color:white;
   padding: 10px;
   display: inline-block;
   margin-top: 20px;
   border: 1px solid white;
   border-radius: 2px;
   text-decoration: none;
   font-weight: 600;
   transition: .4s;
   width: 150px;
   text-transform: uppercase;
 }
 
 .mailButton:hover  {
   border-radius: 25px;
   background-color: rgba(255, 255, 255, 0.8);
   color: #444;
   transition: .4s;
   text-decoration: none;
 }

 .social {
   margin-top: 3rem;
   text-align: center;
   width: 100%;
   display: inline-block;
 }

 .facebook {
   color: #fff;
   padding: 6px;
 }

 .facebook:hover {
   color: #4171da;
 }

 .linkedin {
   color: #fff;
   padding: 6px;
 }
 
 .linkedin:hover {
   color: #23a9f1;
 }

 .github {
   color: #fff;
   padding: 6px;
 }
 
 .github:hover {
   color: #0380b9;
 }

 .instagram {
   color: #fff;
   padding: 6px;
 }
 
 .instagram:hover {
   color: #6492b8;
 }

img {
  max-width: 100%;
}

.mail{
  text-align: center;
}

.mailButton {
  color:white;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 600;
  transition: .4s;
  width: 150px;
  text-transform: uppercase;
}

.mailButton:hover  {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
  transition: .4s;
  text-decoration: none;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.line {
  color: #fff;
  display: block;
  margin-top: -5rem;
  margin-bottom: -3rem;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  size: 10px;
  border-width: 1px;
}

.section {
  margin: 0 auto;
  padding: 8rem 0;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 996px) {
  .container {
    padding: 0 12rem;
  }
}

@media only screen and (max-width: 567px) {
  .container {
    padding: 0 3rem;
  }
}

.header {
  position: relative;
  background-color: black;
  height: calc(100vh - 2rem);
  background-color: rgb(0, 0, 0);
  z-index: 1000;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Navigation */

.hamburger {
  display: none;
}

.navigation {
  position: relative;
  height: 5.5rem;
  line-height: 5.5rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  background-color: red;
  box-shadow: 0 5px 15px black;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.logo {
  cursor: pointer;
}

.logo h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.logo h1 span {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.nav-menu {
  height: auto;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
 
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: rgb(58, 178, 226);
}

/* navigation media */
@media only screen and (max-width: 996px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .nav {
    display: block;
    background-color: rgb(0, 0, 0);
  }

  .nav-header {
    justify-content: space-between;
    width: 100%;
  }

  .nav-menu {
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }

  .hamburger {
    display: block;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
  }

  .nav-list {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.6rem;
  }

  .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .nav-list .nav-item {
    width: 100%;
  }

  .nav-list .nav-link:link,
  .nav-list .nav-link:visited {
    display: block;
    font-size: 1.4rem;
    padding: 0rem;
  }
}

/* About Section */

.about {
  background-color: rgb(0, 0, 0);
}

.about-center {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

.about .subtitle{
  color: white;
  font-size: 3.5rem;
  margin-top: -5.5rem;
  text-align: center;
}

.about .title {
  font-size: 2rem;
  color: rgb(236, 215, 215);
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;
  
}

.about p {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-top: 5rem;
}

.about-container {
  display: block;
  grid-template-columns: 1fr;
  gap: 22rem 3rem;
  margin: 0 auto;
}

.about-container .right {
  position: relative;
  height: 26rem;
  z-index: 0;
  text-align: center;
}

.about-container .right img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 2rem;
}

.resume{
  text-align: center;
}

.resumeButton {
  color:white;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 600;
  transition: .4s;
  width: 150px;
  text-transform: uppercase;
}

.resumeButton:hover  {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
  transition: .4s;
  text-decoration: none;
}

.about .end{
  text-align: center;
}

@media only screen and (max-width: 996px) {
  .about-center {
    grid-template-columns: 1fr;
  }
}

/* Skills */

.skills {
  background-color: rgb(0, 0, 0);
  margin-bottom: -20rem;
}

.skills .title {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.section .one {
  text-align: center;
  margin-bottom: 3rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem -1rem;
  text-align: center;
}

.skills-container .two {
  position: relative;
  height: 26rem;
  z-index: 0;
}

.skills-container .two img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.skills-icon{
  width: 40px;
  cursor: pointer;
}

.skills-title{
  color: rgb(255, 255, 255);
  margin: 0.5rem;
  text-align: justify;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 996px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}

/* Project */

.project {
  background-color: rgb(0, 0, 0);
}

.project .title {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.section .top {
  text-align: center;
  margin-bottom: 3rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 3rem;
  margin-top: 7rem;
}

.project-container .single {
  position: relative;
  height: 26rem;
  z-index: 0;
}

.project-container .single img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-container .overlay {
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: hidden;
  transition: all 500ms ease-out;
}

.project-container .single:hover .overlay {
  height: 100%;
}

.project-container .overlay .details {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.project-container .overlay .details h3 {
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

.project-container .overlay .btn-group {
  color: rgb(255, 255, 255);
}

.project-container .overlay .btn-group a {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.8rem;
  display: inline-block;
  padding: 0.6rem 1.3rem;
}

@media only screen and (max-width: 996px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  .project-container .single {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
  }
 
 /* Contact */

 .contact{
   background-color: rgb(0, 0, 0);
 }

 .contact .title{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .mail{
    text-align: center;
    margin-top: -1rem;
  }

  .mailButton {
    color:white;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 600;
    transition: .4s;
    width: 150px;
    text-transform: uppercase;
  }
  
  .mailButton:hover  {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #444;
    transition: .4s;
    text-decoration: none;
  }

  .social {
    margin-top: 3rem;
    text-align: center;
    width: 100%;
    display: inline-block;
  }

  .facebook {
    color: #fff;
    padding: 6px;
  }

  .facebook:hover {
    color: #4171da;
  }

  .linkedin {
    color: #fff;
    padding: 6px;
  }
  
  .linkedin:hover {
    color: #23a9f1;
  }

  .github {
    color: #fff;
    padding: 6px;
  }
  
  .github:hover {
    color: #0380b9;
  }

  .instagram {
    color: #fff;
    padding: 6px;
  }
  
  .instagram:hover {
    color: #6492b8;
  }

  .heart {
    color: red;
    font-size: 22px;
  }
  
  .creditSection {
    margin-top: 20px;
    text-align: center;
  }
  
  .creditSection p {
    margin: 0;
    color: white;
  }

  /* Copyright */

  .copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
  }
  
  .copyrightSection p {
    margin: 0;
    text-align: center;
  }
